version: '3.6'

services:
  db_dev:
    container_name: 'db_dev'
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: dev
    volumes:
      - ./postgres/pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  api_dev:
    container_name: 'api_dev'
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    command: "yarn run watch"
    depends_on:
      - db_dev
    entrypoint: ./docker-entrypoint.sh
    environment:
      - APP_ENV=development
      - NODE_ENV=development
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    volumes:
      - ./:/usr/src/app
